.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .not-found-page h1 {
    font-size: 6em;
    margin-bottom: 1em;
  }
  
  .not-found-page a {
    color: #007bff;
    text-decoration: none;
  }