.devices {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.device {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.gauge-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.charts {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}